*{
    margin: 0;
    padding: 0;

}
nav{
    background-color: black;
    height: 50px;
    width: 100vw;
}
ul{ 
    color: white;
    float: right;
}  

li{ 
     display: inline-block;
     margin: 10px;

}
.container{
    background-color: rgb(215, 217, 250);
    height: 83.7vh;
    width: 99vw;
    display: flex;
    /* text-align:center; */
    /* justify-content: flex-start; */
    /* align-items: flex-start;
    align-content: flex-start; */
    padding-left: 25%;
    padding-top: 12%;
}
.content, .content1, .content2, .content3{
    margin: 50px 20px 0px 20px;
    text-align: center;
}
.footer{
    background-color: black;
    height: 50px;
    width: 100vw;
    color: whitesmoke;
    text-align: center;
}
